EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBLglzupI41PY6W7VJ5c_-EQ_vbbVDBbf0
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=fynx-f09d8.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=fynx-f09d8
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=fynx-f09d8.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=184364852664
EXPO_PUBLIC_FIREBASE_APP_ID=1:184364852664:android:3c67cf6da748f0e8291b4d
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=184364852664-b7pb76pr7u1nlmeau1ousbt22ravvfg1.apps.googleusercontent.com
